.red{
    color: red;
}

.navBar{
    display: grid;
    grid-template-columns: 10% 90%;
    height: 60px;
}

.logoT{
    
    font-size: 2vw;
    color: red;
}

.img{
    width: 80%;
    height: 90%;
}

.inpBox{
    margin-top: 5%;
}

.showTaskBox{

    display: grid;
    grid-template-columns: 70% 10%;

}

.para{

    font-size: 1.5vw;
    color: red;


}
div{
    /* border: 1px solid black; */
}